<html layout:decorate="~{layout/layout}">

<div th:fragment="academyNoticeFragment" id="academy" class="notice-fragment active">
    <div class="notice-area">
        <div class="notice-recent">
            학원 공지 1
        </div>
        <div class="notice-recent">
            학원 공지 1
        </div>
        <div class="notice-recent">
            학원 공지 1
        </div>
        <div class="notice-recent">
            학원 공지 1
        </div>
        <div class="notice-recent">
            학원 공지 1
        </div>
        <div class="notice-recent">
            학원 공지 
        </div>
    </div>
</div>

</html>