<html layout:decorate="~{layout/layout}">

<div th:fragment="lectureNoticeFragment" id="lecture" class="notice-fragment">
    <div class="notice-area">
        <div class="notice-recent">
            <!-- <= 여기에 th:each -->
            <!-- <button th:noticeId="${lecture_notice.id}" th:onclick="noticeDetail(this.getAttribute('noticeId'))" th:text="${lecture_notice.title}"></button> -->
            <!-- 위의 느낌으로 제목 버튼 만들면 될듯 -->
            <button class="notice-function-button">강의 공지</button>
            <button class="notice-function-modify" sec:authorize="hasRole('TEACHER')">
                <i class="far fa-edit"></i>
            </button>
            <div class="notice-content lecture">
                내용
                <!-- th:text="${lecture_notice.content}" -->
            </div>
        </div>
        <div class="notice-recent">
            <!-- <= 여기에 th:each -->
            <!-- <button th:noticeId="${lecture_notice.id}" th:onclick="noticeDetail(this.getAttribute('noticeId'))" th:text="${lecture_notice.title}"></button> -->
            <!-- 위의 느낌으로 제목 버튼 만들면 될듯 -->
            <button class="notice-function-button">강의 공지 2</button>
            <button class="notice-function-modify" sec:authorize="hasRole('TEACHER')">
                <i class="far fa-edit"></i>
            </button>
            <div class="notice-content lecture">
                내용 2
                <!-- th:text="${lecture_notice.content}" -->
            </div>
        </div>
        <div class="notice-recent">
            <!-- <= 여기에 th:each -->
            <!-- <button th:noticeId="${lecture_notice.id}" th:onclick="noticeDetail(this.getAttribute('noticeId'))" th:text="${lecture_notice.title}"></button> -->
            <!-- 위의 느낌으로 제목 버튼 만들면 될듯 -->
            <button class="notice-function-button">강의 공지 2</button>
            <button class="notice-function-modify" sec:authorize="hasRole('TEACHER')">
                <i class="far fa-edit"></i>
            </button>
            <div class="notice-content lecture">
                내용 2
                <!-- th:text="${lecture_notice.content}" -->
            </div>
        </div>
    </div>
</div>

</html>