<html layout:decorate="~{layout/layout}">

<div th:fragment="lectureNoticeFragment" id="lecture" class="notice-fragment">
    <div class="notice-area">
        <div class="notice-recent" th:if="${course.classNoticeList} != null" th:each="classNotice : ${course.classNoticeList}">
            <button th:text="${classNotice.title}" class="notice-function-button">강의 공지</button>
            <button onclick="clickFormButton(this)" class="notice-function-modify modify-notice"
                sec:authorize="hasRole('TEACHER')">
                <i class="far fa-edit"></i>
            </button>
            <div th:text="${classNotice.content}" class="notice-content lecture">
                내용
            </div>
            <div th:replace="fragments/notice_fragment/lecture_notice_form :: lectureNoticeAddFragment"></div>
            <div th:replace="fragments/notice_fragment/lecture_notice_modify :: lectureNoticeModifyFragment"></div>
        </div>
        <div class="notice-recent" th:if="${course.classNoticeList} == null">
        	<div th:replace="fragments/notice_fragment/lecture_notice_form :: lectureNoticeAddFragment"></div>
            <div th:replace="fragments/notice_fragment/lecture_notice_modify :: lectureNoticeModifyFragment"></div>
        </div>
    </div>
</div>

</html>