<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <title>@iamhere</title>
    <base th:href="@{/}">
</head>

<body>
    <!-- <nav th:replace="fragments/nav_button :: navFragment"></nav> -->
    <th:block layout:fragment="content" id="wrap"></th:block>
</body>

</html>