<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')">
    <div class="main-profile">
        <div class="main-profile-text">
            그린 컴퓨터 아카데미<br><!-- b에 이름, span에 권한 -->
            <b th:text="${member.name}">홍길동</b>
            <span sec:authorize="hasRole('STUDENT')">수강생</span>
            <span sec:authorize="hasRole('TEACHER')">강사</span>
            님
        </div>
    </div>
    <div class="notice-new-alarm">
        <b>읽지 않은 공지 1건</b>
    </div>
    <a th:href="@{/main/lecture/detail}">
        <div class="main-lecture">
            <div class="lecture-name">
                <!-- b에 강의명, span에 학원명 -->
                <b>Java 기초 과정</b> @<span>426호실</span>
            </div>
            <div class="lecture-info">
                <ul class="lecture-info-schedule">
                    <li>월</li>
                    <li>화</li>
                    <li>수</li>
                    <li>목</li>
                    <li>금</li>
                    <li>토</li>
                    <li>일</li>
                </ul>
                <ul class="lecture-info-schedule-checked">
                    <li><span><i class="far fa-check-circle"></i></span></li>
                    <li><span><i class="far fa-check-circle"></i></span></li>
                    <li><span><i class="far fa-check-circle"></i></span></li>
                    <li><span><i class="far fa-check-circle"></i></span></li>
                    <li><span><i class="far fa-check-circle"></i></span></li>
                    <li><span><i class="far fa-check-circle"></i></span></li>
                    <li><span><i class="far fa-check-circle"></i></span></li>
                </ul>
                <div class="lecture-info-schedule-time">
                    AM 07:00 ~ PM 09:00
                </div>
            </div>
        </div>
    </a>
    <div class="student-checkinout" sec:authorize="hasRole('STUDENT')">
        <div class="student-today">
            Today
            <a th:href="@{/main/lecture/check/student}">
                <div class="student-daily-check">
                    <div class="daily-date" th:data-today="${today}">
                        11/18 <span>Fri</span>
                    </div>
                    <span class="daily-status">
                        출석
                    </span>
                </div>
            </a>
        </div>
        <div class="student-weekly">
            Weekly
            <div class="student-weekly-check">
                <a th:href="@{/main/lecture/check/student}">
                    <div class="student-weekly-date">
                        <span>Mon</span><br>
                        지각
                    </div>
                </a>
                <div class="student-weekly-date">
                    <span>Tue</span><br>
                    출석
                </div>
                <div class="student-weekly-date">
                    <span>Wed</span><br>
                    조퇴
                </div>
                <div class="student-weekly-date">
                    <span>Thu</span><br>
                    결석
                </div>
                <div class="student-weekly-date">
                    <span>Fri</span><br>
                    출석
                </div>
                <div class="student-weekly-date">
                    <span>Sat</span><br>
                    -
                </div>
            </div>
        </div>
    </div><!-- sec:role student 일 때 -->
    <div class="teacher-checkinout" sec:authorize="hasRole('TEACHER')">
        <div class="teacher-today">
            Today
            <a th:href="@{/main/lecture/check/teacher}">
                <div class="teacher-daily-check">
                    <div class="daily-check">
                        <span>출결</span><br>
                        <b>10</b>
                    </div>
                    <div class="daily-non-check">
                        <span>미출결</span><br>
                        <b>10</b>
                    </div>
                </div>
            </a>
        </div>
    </div><!-- sec:role teacher 일 때 -->
    <div class="main-notice">
        Notice
        <div class="notice-category">
            <button onclick="selectCategory('academy')" class="academy category-academy active">Academy</button>
            &nbsp;&nbsp;/&nbsp;&nbsp;
            <button onclick="selectCategory('lecture')" class="lecture category-lecture">Lecture</button>
        </div>
        <div th:replace="fragments/notice_fragment/academy_notice :: academyNoticeFragment"></div>
        <div th:replace="fragments/notice_fragment/lecture_notice :: lectureNoticeFragment"></div>
    </div>
    <footer th:replace="fragments/main_footer :: mainFooterFragment"></footer>
    <script>
        function selectCategory(e) {
            $(".main-notice").ready(function () {
                const clickedCategory = e;
                const selectedCategory = document.getElementsByClassName(e);
                const selectedNotice = document.getElementById(e);

                $('button').removeClass('active');
                $(selectedCategory).addClass('active');

                $('.notice-fragment').removeClass('active');
                $(selectedNotice).addClass('active');
            })
        } // by 조성빈, 선택한 notice 출력하는 기능
    </script>
    <!-- <script>
        //by 장유란, 날짜 지정
        const today = document.querySelector(".daily-date");
        window.onload = function () {
            document.querySelector(".daily-date").innerHTML = today.dataset.today +
                ` <span>${Date().substr(0,3)}</span>`
        }
    </script> -->
</div>

</html>