<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" sec:authorize="hasAnyRole('STUDENT', 'TEACHER', 'ADMIN')">
    <button th:replace="fragments/prev_button :: prevFragment"></button>
    <div class="password-modify-text">
        비밀번호 변경<br><br>
        <span>아래에 현재 비밀번호를 입력한 후,<br>새로 설정할 비밀번호를 입력하세요.</span>
    </div>
    <form class="password-modify-form">
        <div class="field">
            <input class="current-password" type="password" placeholder="현재 비밀번호" name="current-password" id="current-password">
            <i class="fas fa-lock"></i>
        </div>
        <div class="field">
            <input class="new-password1" type="password" placeholder="새 비밀번호" name="new-password1" id="new-password1">
            <i class="fas fa-lock"></i>
        </div>
        <div class="field">
            <input class="new-password2" type="password" placeholder="새 비밀번호 확인" name="new-password2" id="new-password2">
            <i class="fas fa-lock"></i>
        </div>
        <input class="password-modify-submit" type="submit" value="비밀번호 재설정">
    </form>
    <a th:href="@{/password/modify/complete}">(임시)변경 성공</a>
</div>

</html>