<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" sec:authorize="hasAnyRole('STUDENT', 'TEACHER', 'ADMIN')">
    <button th:replace="fragments/prev_button :: prevFragment"></button>
    <div class="password-forgot-text">
        비밀번호를 잊으셨나요?<br><br>
        <span>본인 인증을 위해 생년월일 여덟 자리와<br>등록된 메일 주소를 입력하세요.</span>
    </div>
    <form name="password-forgot-form" class="password-forgot-form">
        <div class="field">
            <input class="certification-birth" type="text" placeholder="생년월일(ex. 20100101)" name="certification-birth"
                id="certification-birth">
        </div>
        <div class="field">
            <input class="certification-mail" type="email" placeholder="메일 주소(ex. example@example.com)"
                name="certification-mail" id="certification-mail">
        </div>
        <button class="password-forgot-submit" type="button">메일 발송</button>
    </form>
    <div class="password-find-message">
        잠시 후, 입력하신 메일 주소로<br>
        임시 비밀번호를 전송합니다!<br><br>
        곧 로그인 페이지로 이동합니다.
    </div>
    <script>
        let form = document.getElementsByName('password-forgot-form');

        $(".password-forgot-submit").on('click', function () {
            $(".password-find-message").css('visibility', 'visible');

            setTimeout(function () {
                $(form).submit();
                window.location.href='/';
            }, 3600);
        })
    </script>
</div>

</html>