<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" sec:authorize="hasAnyRole('STUDENT', 'TEACHER', 'ADMIN')">
    <div class="password-modify-complete-section">
        <div class="password-modify-complete-logo">
            <i class="fas fa-user-lock"></i>
        </div>
        <div class="password-modify-complete-text">
            비밀번호 변경 완료<br>
            <span>새로운 비밀번호로 변경되었습니다.</span>
        </div>
        <button onclick="location.href='/'">다시 로그인하기</button>
    </div>
</div>

</html>