<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <button th:replace="fragments/prev_button :: prevFragment"></button>
    <h2 class="signup-text">
        환영합니다!<br>
        로그인 후에, 모든 서비스를<br>
        자유롭게 사용하세요!
    </h2>
    <form class="signup-form">
        <div class="field">
            <input class="userid" type="text" placeholder="ID">
        </div>
        <div class="field">
            <input class="userpw" type="password" placeholder="PASSWORD">
        </div>
        <div class="field">
            <input class="userpw" type="password" placeholder="CONFIRM PASSWORD">
        </div>
        <div class="field">
            <input class="usermail" type="email" placeholder="EMAIL">
        </div>
        <input class="signup-submit" type="submit" value="동의하고 가입하기">
    </form>
    <div class="other-login">
        <h4>or Login with</h4>
        <ul class="other-login-button">
            <li>facebook</li>
            <li>google</li>
            <li>apple</li>
        </ul>
    </div>
</div>

</html>