<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')">
    <div class="main-profile">
        <div class="main-profile-text">
            그린 컴퓨터 아카데미<br><!-- b에 이름, span에 권한 -->
            <b th:text="${member.name}">홍길동</b>
            <span sec:authorize="hasRole('STUDENT')">수강생</span>
            <span sec:authorize="hasRole('TEACHER')">강사</span>
            님
        </div>
    </div>
    <div class="notice-new-alarm">
        <b>읽지 않은 공지 1건</b>
    </div>
    <a th:href="@{/main/lecture/detail}">
        <div class="main-lecture check">
            <div class="lecture-name">
                <!-- b에 강의명, span에 학원명 -->
                <b th:text="${course.title}">Java 기초 과정</b><span th:text="| @${course.room.name}호실|">426호실</span>
            </div>
        </div>
    </a>
    <div class="check-count-section">
        <div class="check-count-all-day">
            <b>총 일수</b>
            <span th:text="${#lists.size(student.attendanceList)}">120</span>
        </div>
        <div class="check-count-in-day">
            <b>출석일수</b>
            <span th:text="${#numbers.formatInteger(attCnt, 1, 'COMMA')}">100</span>
        </div>
        <div class="check-count-in-rate">
            <b>참여율</b>
            <span th:text="|${#numbers.formatInteger(attAvg, 1, 'COMMA')}%|">87.4%</span>
        </div>
    </div>
    <div class="check-inout-today student">
        Day <span th:text="|${#temporals.month(_attendance.today)}/${#temporals.day(_attendance.today)}|">12/01</span>
        <div class="student-daily-check detail">
            <div class="daily-checkin-time">
                <span>입실</span><br>
                <b th:text="${_attendance.inTime}">10:02</b>
            </div>
            <div class="daily-checkout-time">
                <span>퇴실</span><br>
                <b th:text="${_attendance.outTime}">17:52</b>
            </div>
        </div>
    </div>
    <div class="check-inout-period student">
        Period
        <div class="student-period-check" th:each="attendance : ${student.attendanceList}">
            <a th:href="@{|/course/${member.id}/${course.id}/attendance/${attendance.id}|}">
                <div class="student-period-check-daily">
                    <span th:text="|${#temporals.month(attendance.today)}/${#temporals.day(attendance.today)}|">12/01</span>
                    <b th:text="${attendance.status}">출석</bth>
                </div>
            </a>
        </div>
    </div>
    <footer th:replace="fragments/main_footer :: mainFooterFragment"></footer>
</div>

</html>