<html layout:decorate="~{layout/layout}">

<div layout:fragment="content" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')">
    <div class="main-profile">
        <div class="main-profile-text">
            그린 컴퓨터 아카데미<br><!-- b에 이름, span에 권한 -->
            <b th:text="${member.name}">홍길동</b>
            <span sec:authorize="hasRole('STUDENT')">수강생</span>
            <span sec:authorize="hasRole('TEACHER')">강사</span>
            님
        </div>
    </div>
    <div class="notice-new-alarm">
        <b>읽지 않은 공지 1건</b>
    </div>
    <a th:href="@{|/course/${member.id}/${course.id}/detail|}">
        <div class="main-lecture check">
            <div class="lecture-name">
                <!-- b에 강의명, span에 학원명 -->
                <b th:text="${course.title}">Java 기초 과정</b> @<span th:text="| @${course.room.name}호실|">426호실</span>
            </div>
        </div>
    </a>
    <div class="check-count-section">
        <div class="check-count-all-day">
            <b>총 일수</b>
            <span th:text="${totalDay}">120</span>
        </div>
        <div class="check-count-in-day">
            <b>경과일수</b>
            <span th:text="${today}">100</span>
        </div>
        <div class="check-count-in-rate">
            <b>진행율</b>
            <span th:text="|${#numbers.formatInteger(attAvg, 1, 'COMMA')}%|">87.4%</span>
        </div>
    </div>
    <div class="check-inout-today teacher">
        Today
        <div class="teacher-daily-check detail">
            <div class="daily-checkin-student none">
                <span>미출결</span><br>
                <div class="checkin-box none" >
                    <div class="checkin-student none" th:if="${uncheckedList} != null" th:each="student : ${uncheckedList}">
                        <span th:text="${student.student.name}">안준언</span>
                    </div>
                </div>
            </div>
            <div class="daily-checkin-student">
                <span>출결</span>
                <div class="checkin-box" >
                    <div class="checkin-student" th:if="${checkedList} != null" th:each="student : ${checkedList}">
                        <span th:text="${student.student.name}">조성빈</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/main_footer :: mainFooterFragment"></footer>
</div>

</html>