<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="academy-list-tab">
        <button class="tab active" value="lecture">Class</button>
        <button class="tab" value="teacher">Teacher</button>
        <button class="tab" value="student">Student</button>
    </div>
    <div th:replace="fragments/academy_class :: classFragment"></div>
    <div th:replace="fragments/academy_teacher :: teacherFragment"></div>
    <div th:replace="fragments/academy_student :: studentFragment"></div>
    <script>
        $(".academy-list-tab").children('button').click(function () {
            if ($('button').hasClass("active")) {
                $('button').removeClass("active")
            }
            $(this).addClass(" active");

            const tabbed = $(this).val();

            $(".tab-content").removeClass('active');
            $(".academy-function-button").removeClass('active');

            if (tabbed == 'lecture') {
                $(".tab-content.lecture").addClass(" active");
                $(".academy-function-button.lecture-button").addClass(" active");
            } else if (tabbed == 'teacher') {
                $(".tab-content.teacher").addClass(" active");
                $(".academy-function-button.teacher-button").addClass(" active");
            } else {
                $(".tab-content.student").addClass(" active");
                $(".academy-function-button.student-button").addClass(" active");
            }

        }) // by 조성빈, 클릭한 tab에 active 클래스 추가하는 기능
    </script>
    <footer th:replace="fragments/academy_footer :: academyFooterFragment"></footer>
</div>

</html>