<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${noticeList != null}" th:each="noticeList : ${noticeList}">
             <td>
                <a th:href="@{|/academy/notice/detail/${noticeList.id}|}" th:text="${noticeList.title}"></a>
            </td>
            <td th:text="${noticeList.createDate}"></td>
        </tr>
    </tbody>
    <a th:href="@{/academy/notice/create}">create(변경필요)</a>
</table>
</body>
</html>