<html layout:decorate="~{layout/layout}">

<footer th:fragment="academyFooterFragment">
    <div class="academy-function">
        <div class="academy-new">
            <div class="new-lecture">
                <input class="search-lecture" placeholder="Search">
                <select class="category-lecture">
                    <option selected="">카테고리</option>
                    <option value="임시 강의 1">임시 강의 1</option>
                    <option value="임시 강의 2">임시 강의 2</option>
                    <option value="임시 강의 3">임시 강의 3</option>
                </select>
                <button>+</button>
                &nbsp;<a href="#">강의 추가</a>
            </div>
        </div>
    </div>
</footer>

</html>