<html layout:decorate="~{layout/layout}">

<div th:fragment="addStudentFragment" class="add-fragment student" id="add-student" style="display:none;">
    <div class="modal-wrap addFunction">
        <div class="add-student-form">
            <div class="add-name">
                이름<br>
                <input type="text" name="name" id="studentName" />
            </div>
            <div class="add-birthday">
                생년월일<br>
                <input type="date" name="birth_date" id="studentBirth_date" />
            </div>
            <div class="add-tel">
                연락처<br>
                <input type="text" name="tel" id="studentTel" />
            </div>
            <div class="add-mail">
                메일<br>
                <input type="email" name="email" id="studentEmail" />
            </div>
            <div class="add-address">
                거주지<br>
                <input type="text" name="address" id="studentAddress" />
            </div>
            <div class="add-button-section">
                <div class="add-confirm">
                    <button type="button" class="add-confirm-button" id="studentAddBtn">등록</button>
                </div>
                <div class="add-close">
                    <button type ="button" onclick="closeModal('add')" class="modal-close-button">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>