<html layout:decorate="~{layout/layout}">

<footer th:fragment="mainFooterFragment">
    <div class="footer-wrap">
        <button onclick="location.href='/member/main'" class="home-button">홈</button>
        <div class="student-function" sec:authorize="hasRole('STUDENT')">
            <div class="student-check-beacon">
                <button>Beacon</button>
            </div>
            <button onclick="memberFunctionButton('student-function')" class="student-function-button">기능</button>
            <div class="student-check-qrcode">
                <button>QR Code</button>
            </div>
        </div><!-- sec:role student 일 때 -->
        <div class="teacher-function" sec:authorize="hasRole('TEACHER')">
            <div class="teacher-create-notice">
                <button>공지 작성</button>
            </div>
            <button onclick="memberFunctionButton('teacher-function')" class="teacher-function-button">기능</button>
            <div class="teacher-create-qrcode">
                <button onclick="createQrButton()">QR 생성</button>
                <div class="modal-wrap qrcode">
                    <div class="create-qr-layer">
                        <div class="created-qrcode">

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- sec:role teacher 일 때 -->
        <div th:replace="fragments/nav_button :: navFragment"></div>
    </div>
    <script>
        function memberFunctionButton(e) {
            const currentRole = document.getElementsByClassName(e);
            const functionButton = $(currentRole).children('div');

            if (functionButton.css('display') === 'none') {
                functionButton.css({
                    'display': 'block'
                });
            } else {
                functionButton.css({
                    'display': 'none'
                });
            }
        }

        function createQrButton(){
            const qrLayer = document.querySelector(".modal-wrap.qrcode");
            



        }
    </script>
</footer>

</html>