<html layout:decorate="~{layout/layout}">

<div th:fragment="modifyTeacherFragment" class="modify-fragment teacher" id="modify-teacher" style="display:none;">
    <div class="modal-wrap addFunction">
        <div class="add-teacher-form" id="modifyTeacher">
            <div class="add-name">
                이름<br>
                <input type="text" />
            </div>
            <div class="add-birthday">
                생년월일<br>
                <input type="date" />
            </div>
            <div class="add-tel">
                연락처<br>
                <input type="text" />
            </div>
            <div class="add-mail">
                메일<br>
                <input type="email" />
            </div>
            <div class="add-address">
                거주지<br>
                <input type="text" />
            </div>
            <div class="add-button-section">
                <div class="add-confirm">
                    <button type="button" class="add-confirm-button">등록</button>
                </div>
                <div class="add-close">
                    <button type="button" onclick="closeModal('modify')" class="modal-close-button">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>