<div th:fragment="navFragment">
    <div class="member-dropdown">
        <button type="button" class="member-dropdown-button" onclick="menuDrop()">
            =
        </button>
        <div class="member-dropdown-list">
            <div class="dropdown-member-function">
                <a href="#">비밀번호 변경</a>
                <a th:href="@{/}">로그아웃</a>
            </div>
            <div class="dropdown-member-lecture">
                My Class
                <ul>
                    <li><button>임시 강의 1</button></li>
                    <li><button>임시 강의 2</button></li>
                    <li><button>임시 강의 3</button></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
		function menuDrop() {
			if ($(".member-dropdown").hasClass("active")) {
				$(".member-dropdown").removeClass("active");
			} else {
				$(".member-dropdown").addClass("active");
			}
		}
	</script>
</div>