* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'NOTO SANS KR', 'NOTO SANS THIN', 'NOTO SANS BOLD', sans-serif, serif;
    font-size: 16px;
    color:#444;
}

/* 
    color palette
        theme 
            color : #2cae2c;
            color : #444;
*/

.fas.fa-lock, .fas.fa-chevron-left{
    color:#444;
}

.far.fa-check-circle, .far.fa-edit{
    color:#fff;
}

.fas.fa-plus-circle, .fas.fa-user-lock{
    color : #2cae2c;
}


@font-face {
    font-family: 'NOTO SANS KR';
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'NOTO SANS THIN';
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('truetype');
}

@font-face {
    font-family: 'NOTO SANS BOLD';
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('truetype');
}

footer {
    position: fixed;
    width: 390px;
    height: 100px;
    margin:0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}

html,
body {
    height: 100%;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #444;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
li {
    list-style: none;
}

input[type="date"] {
    position: relative;
    width: 150px;
    min-height: 30px;
    padding:8px;
    border: 1px solid #444;
    border-radius: 6px;
    font-size: 14px;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
    color: #aaa;
    text-align: center;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    display: none;
}

input[type="time"] {
    position: relative;
    width: 150px;
    min-height: 30px;
    padding:8px;
    border: 1px solid #444;
    border-radius: 6px;
    font-size: 14px;
}

input[type="time"]::before {
    content: attr(data-placeholder);
    width: 100%;
    color: #aaa;
    text-align: center;
}

input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button { 
    display: none;
} 

input[type="time"]:focus:before,
input[type="time"]:valid:before {
    display: none;
}

select option[value=""][disabled] {
	display: none;
}
