@import url("reset.css");

*{
    margin: 0;
    padding: 0;
}

#wrap{
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 320px;
    max-height: 800px;
    padding-top: 40px;
}

/* ##### index.html ##### */

.index-logo{
    width: 260px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #000;
}

.index-button{
    margin: 0 auto;
    margin-top: 70px;
    width: 300px;
}

.index-button>button{
    width: 100%;
    height: 54px;
    border:1px solid;
    border-radius: 6px;

}

.index-button .login-button{
    background: #000;
    color:#fff;
}

.index-button .signup-button{
    background: #fff;
    margin-top: 20px;
}

.guest-login{
    margin-top: 40px;
}

/* ##### index.html end ##### */

/* ##### prev_button.html ##### */

#prev-button{
    position: relative;
    width: 32px;
    height: 32px;
    border:1px solid #aaa;
    border-radius: 6px;
    float:left;
    margin:30px 0;
}

/* ##### prev_button.html end ##### */

/* ##### signup.html ##### */

.signup-text{
    position: relative;
    display: inline-block;
    width: 100%;
    left: 0;
    text-align: left;
}

.signup-form{
    width: 100%;
    margin-top: 20px;
}

.signup-form .field{
    margin:12px 0;
}

.signup-form .field>input{
    width: 100%;
    height: 50px;
    border:1px solid #aaa;
    border-radius: 6px;
    background: #efefef;
    padding:4px 8px;
}

.signup-form .signup-submit{
    width: 100%;
    height: 54px;
    margin: 10px 0;
    border:1px solid #000;
    border-radius: 6px;
    color:#fff;
    background: #000;
}

.other-login{
    margin-top: 10px;
    width: 100%;
    color:#777;
}

.other-login-button{
    display: flex;
    justify-content: center;
}

.other-login-button>li{
    margin:20px 10px;
    width: 80px;
    height: 60px;
    border:1px solid;
}

/* ##### signup.html end ##### */

/* ##### login.html ##### */

.login-text{
    position: relative;
    display: inline-block;
    width: 100%;
    left: 0;
    text-align: left;
}

.login-form{
    width: 100%;
    margin-top: 20px;
}

.login-form .field{
    margin:12px 0;
}

.login-form .field>input{
    width: 100%;
    height: 50px;
    border:1px solid #aaa;
    border-radius: 6px;
    background: #efefef;
    padding:4px 8px;
}

.forgot-pw{
    font-size: 14px;
    text-align: right;
    color:#aaa;
}

.login-form .login-submit{
    width: 100%;
    height: 54px;
    margin-top: 10px;
    border:1px solid #000;
    border-radius: 6px;
    color:#fff;
    background: #000;
    font-size: 16px;
    font-weight: bold;
}

.function-login{
    margin-top: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.function-login button{
    margin:0 10px;
    width: 60px;
    height: 60px;
    border:1px solid;
    border-radius: 8px;
}

.signup-link{
    height: 140px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.signup-link a{
    color:green;
}

/* ##### login.html end ##### */