<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
</head>
<body>
	<span th:text="${localDate}"></span>
	<span th:text="${course.title}"></span>
	<span>출석 확인</span>

	<table>
		<tr th:each="member, Loop : ${studentMemberList}">
			<td th:text="${member.name}"></td>
		</tr>
		<tr th:each="attendance,  Loop : ${todayAttendanceList}">
			<td th:text="${attendance.status}"></td>
		</tr>
	</table>
</body>
</html>