<html layout:decorate="~{layout/layout}">

<div th:fragment="modifyLectureFragment" class="modify-fragment lecture" id="modify-lecture" style="display:none;">
    <div class="modal-wrap addFunction">
        <div class="add-lecture-form" id="modifyCourse">
            <div class="add-title">
                과정명<br>
                <input type="text" id="modifyTitle" />
            </div>
            <div class="add-teacher-name">강사<br>
                <select id="teacherSelect">
                	<option> 1 </option>
                </select>
            </div>
            <div class="check-lecture-week">
                강의요일<br>
                <div class="check-day-button">
                    <input type="checkbox" class="day-button mon" id="modifyMon" />
                    <label for="mon">월</label>
                    <input type="checkbox" class="day-button tue" id="modifyTue" />
                    <label for="tue">화</label>
                    <input type="checkbox" class="day-button wed" id="modifyWed" />
                    <label for="wed">수</label>
                    <input type="checkbox" class="day-button thu" id="modifyThu" />
                    <label for="thu">목</label>
                    <input type="checkbox" class="day-button fri" id="modifyFri" />
                    <label for="fri">금</label>
                    <input type="checkbox" class="day-button sat" id="modifySat" />
                    <label for="sat">토</label>
                    <input type="checkbox" class="day-button sun" id="modifySun" />
                    <label for="sun">일</label>
                </div>
            </div>
            <div class="add-lecture-period">
                강의기간<br>
                <input class="lecture-period-start" type="date" data-placeholder="강의 시작일" required
                    aria-required="ture" id="modifyStartDate" />
                <input class="lecture-period-end" type="date" data-placeholder="강의 종료일" required 
                	aria-required="ture" id="modifyEndDate" />
            </div>
            <div class="add-lecture-time">
                강의시간<br>
                <input class="lecture-time-start" type="time" data-placeholder="강의 시작시간" required
                    aria-required="ture" id="modifyStartTime" />
                <input class="lecture-time-end" type="time" data-placeholder="강의 종료시간" required 
                	aria-required="ture" id="modifyEndTime" />
            </div>
            <div class="add-lecture-room">
                강의실<br>
                <select id="roomSelect">
                	<option></option>
                </select>
            </div>
            <div class="add-lecture-count">
                수강인원<br>
                <div id="roomMaxSeat">
                	<input type="text" />
                </div>
            </div>
            <div class="add-button-section">
                <div class="add-confirm">
                    <button type="button" class="add-confirm-button" id="courseModifyBtn">등록</button>
                </div>
                <div class="add-close">
                    <button type="button" onclick="closeModal('modify')" class="modal-close-button">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>